# Readme for {{name | title}}

This is a funko using the Crystal runtime for [FaaSO](https://git.ralsina.me/ralsina/faaso)

## What is {{name | title}}

Write here what it is

## How to use {{name | title}}

And so on.
