<%- result.each do |f| -%>
<tr hx-indicator="#spinner-<%= f["name"] %>">
  <td><%= f["funko"] %></td>
  <td><%= f["name"] %></td>
  <td>
    <button hx-post="secrets/" hx-on:htmx:after-request="update_secrets()">Change</button>
    <button hx-delete="secrets/<%= f["funko"] %>-<%= f["name"] %>/" hx-on:htmx:after-request="update_secrets()">Delete</button>
    <img id="spinner-<%= f["name"] %>" src="bars.svg"  class="htmx-indicator">
  </td>
</tr>
<%- end -%>
