<div id="innerterminal" style="resize: vertical; overflow: auto;">
<nav>
    <ul>
    <li><H4><%=title%></H4></li>
    </ul>
    <ul>
    <li>
    <span
        role="button"
        onCLick="document.getElementById('innerterminal').remove();">
        <i class="icono-crossCircle"></i>
    </span>
    </li>
    </ul>
</nav>
<iframe src='terminal/' width='100%' height='100%'></iframe>
</div>
