{
  http_port 8888
  https_port 8887
  local_certs
}

http://*:8888 {
	basicauth /admin/* {
		admin {$HTTP_BASIC_AUTH_PASSWORD}
	}

  handle_path /admin/terminal/* {
    reverse_proxy /* http://127.0.0.1:7681
  }
  handle_path /admin/* {
    reverse_proxy /* http://127.0.0.1:3000
  }


      handle_path /faaso/myfunko/* {
        reverse_proxy /* http://faaso-myfunko-kyfo2v:3000 {
          health_uri /ping
          fail_duration 30s
        }
      }
      
}