{
	http_port 8888
	https_port 8887
	local_certs
}

http://*:8888 {
	forward_auth /admin/* http://127.0.0.1:3000 {
		uri /auth
		copy_headers {
			Authorization
		}
	}

	handle_path /admin/terminal/* {
		reverse_proxy /* http://127.0.0.1:7681
	}
	handle_path /admin/* {
		reverse_proxy /* http://127.0.0.1:3000
	}
      import funkos 
}
